# Android Studio / Gradle
.gradle/
build/
local.properties
.idea/
*.iml

# macOS system files
.DS_Store


# Log and temporary files
*.log
*.tmp
*.cache

# OS files
.DS_Store
Thumbs.db

# Firebase config files
google-services.json
GoogleService-Info.plist

# Key files
*.keystore
*.jks

# Other
app/release/

