# Built application files
*.apk
*.aab
*.ap_
*.dex
*.class

# Gradle files
*.iml
.gradle
.gradle/
/build
/local.properties

# IntelliJ/Android Studio
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# External native build
.externalNativeBuild
.cxx

# Captures
/captures

# Firebase
google-services.json

# Local configuration
local.properties
